<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Database=TestDb;Encrypt=False;Integrated Security=True;User ID='DESKTOP-T1LCAF0\Redi Zogolli\'" />
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->

  <system.serviceModel>
    <services>
      <service name="SoapWcf.Employees">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:80/SoapEmployeeService" />
          </baseAddresses>
        </host>
        <endpoint name ="SOAPEndPoint"
                  contract ="SoapWcf.IEmployees"
                  binding ="basicHttpBinding"
                  address ="" />
      </service>

    </services>
    <protocolMapping>

      <add binding="basicHttpsBinding" scheme="https" />

    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="SoapWcf.Employees" relativeAddress="Employees.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
